{% extends 'admin.html.twig' %}

{% block title %}Dashoard
{% endblock %}

{% block body %}
	<h1 class="pb-6 text-3xl text-black">Dashboard</h1>

	<section class="text-gray-600 body-font">
		<div class="container px-5 py-16 mx-auto">
			<div class="flex flex-wrap -m-4 text-center">
				<div class="w-1/2 p-4 sm:w-1/4">
					<h2 class="text-3xl font-medium text-gray-900 title-font sm:text-4xl">{{ total_users }}</h2>
					<p class="leading-relaxed">Total de clients</p>
				</div>
				<div class="w-1/2 p-4 sm:w-1/4">
					<h2 class="text-3xl font-medium text-gray-900 title-font sm:text-4xl">{{ daily_users }}</h2>
					<p class="leading-relaxed">Nouveux clients</p>
				</div>
				<div class="w-1/2 p-4 sm:w-1/4">
					<h2 class="text-3xl font-medium text-gray-900 title-font sm:text-4xl">{{ daily_bookings }}</h2>
					<p class="leading-relaxed">Réservations</p>
				</div>
				<div class="w-1/2 p-4 sm:w-1/4">
					<h2 class="text-3xl font-medium text-gray-900 title-font sm:text-4xl">{{ total_rooms }}</h2>
					<p class="leading-relaxed">Salles de jeux</p>
				</div>
			</div>
		</div>
	</section>


{% endblock %}
